In [66]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013
1558,tt0376994,210000000,234360014,X-Men: The Last Stand,Hugh Jackman|Halle Berry|Ian McKellen|Patrick ...,Brett Ratner,Take a Stand,"When a cure is found to treat mutations, lines...",104,Adventure|Action|Science Fiction|Thriller,20th Century Fox,5/24/2006,6.2,2006
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1523,tt0462200,15000000,10903846,Black Snake Moan,Samuel L. Jackson|Christina Ricci|Justin Timbe...,Craig Brewer,To save his soul he must save hers.,A God-fearing bluesman takes to a wild young w...,116,Drama,Paramount Classics,12/8/2006,6.3,2006
1440,tt0317919,150000000,397850012,Mission: Impossible III,Tom Cruise|Philip Seymour Hoffman|Ving Rhames|...,J.J. Abrams,The Mission Begins 05:05:06.,Retired from active duty to train new IMF agen...,126,Adventure|Action|Thriller,Paramount Pictures|Cruise/Wagner Productions|S...,5/3/2006,6.3,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
# колонка с прибылью 
data['profit'] = data['revenue'] - data['budget']


def return_month(date):
    # функция для получения месяца из даты
    # дата рассматривается как строка
    return int(str(date).split('/')[0])


def this_summer(release_date):
    # получаем номер месяца
    month = return_month(release_date)
    # летний месяц это 6, 7 или 8, если месяц летний вернем единицу
    if month == 6 or month == 7 or month == 8:
        return 1
    else:
        return 0
    
    
def this_winter(release_date):
    # получаем номер месяца
    month = return_month(release_date)
    # зимний месяц это 1, 2 или 12, если месяц зимний вернем единицу
    if month == 12 or month == 1 or month == 2:
        return 1
    else:
        return 0

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [9]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [11]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'
# +

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'
# +

In [15]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
# +

In [17]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

## 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [19]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'
# +

In [21]:
movies = data[data.revenue > data.budget]
movies['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [23]:
movies = data[data.release_year == 2008]
movies[movies.revenue == movies.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [25]:
movies = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
movies[movies.profit == movies.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
# +

In [27]:
pd.Series(data['genres'].str.cat(sep = '|').split('|')).value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [28]:
data_tmp = data.copy()
data_tmp.genres = data_tmp.genres.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('genres')
data_tmp.genres.value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1. Drama'
# +

In [30]:
movies = data[data.profit > 0]
pd.Series(movies['genres'].str.cat(sep = '|').split('|')).value_counts().head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = '5. Peter Jackson'
# +

In [32]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = '3. Robert Rodriguez'
# +

In [34]:
data2 = data[data.genres.str.contains('Action', na = False)]
pd.Series(data2['director'].str.cat(sep = '|').split('|')).value_counts().head()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = '3. Chris Hemsworth'
# +

In [36]:
data_tmp = data.copy()
data_tmp.cast = data_tmp.cast.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('cast')
data_tmp[data_tmp.release_year == 2012].groupby('cast').revenue.sum().sort_values(ascending=False).head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = '3. Matt Damon'
# +

In [38]:
data_tmp.cast = data[data.budget > data.budget.mean()].cast.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('cast')
data_tmp.groupby('cast').imdb_id.count().sort_values(ascending=False).head()

cast
Matt Damon        90
Adam Sandler      85
Angelina Jolie    80
Tom Cruise        75
Eddie Murphy      75
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = '2. Action'
# +

In [40]:
data_tmp.genres = data[data.cast.str.contains('Nicolas Cage', na = False)].genres.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('genres')
data_tmp.genres.value_counts().head()

Action       265
Thriller     215
Drama        140
Fantasy      140
Adventure    115
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [42]:
data_tmp = data.copy()
data_tmp.production_companies = data_tmp.production_companies.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('production_companies')
data_tmp = data_tmp[(data_tmp.production_companies == 'Paramount Pictures')]
data_tmp[data_tmp.profit == data_tmp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

In [43]:
data_tmp = data[data.production_companies.str.contains('Paramount Pictures', na = False)]
data_tmp[data_tmp.profit == data_tmp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
answers['19'] = '5. 2015'
# +

In [45]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
answers['20'] = '1. 2014'
# +

In [47]:
data_tmp = data[data.production_companies.str.contains('Warner Bros', na = False)]
data_tmp.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = '4. Сентябрь'
# +

In [49]:
data_tmp = data.copy()
data_tmp['month'] = data_tmp.release_date.apply(lambda x: str(x).split('/')[0])
data_tmp.groupby(['month'])['imdb_id'].count().sort_values(ascending = False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [50]:
data_tmp = data.copy()
data_tmp.release_date = pd.to_datetime(data_tmp.release_date)
data_tmp.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '2. 450'
# +

In [52]:
data_tmp = data.copy()
data_tmp['summer'] = data_tmp.release_date.apply(this_summer)
data_tmp.summer.sum()

450

In [53]:
data_tmp = data.copy()
data_tmp.release_date = pd.to_datetime(data_tmp.release_date)
data_tmp = data_tmp[(data_tmp.release_date.dt.month == 6) 
         | (data_tmp.release_date.dt.month == 7) | (data_tmp.release_date.dt.month == 8)]
data_tmp.release_date.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'
# +

In [55]:
data_tmp = data.copy()
data_tmp.director = data_tmp.director.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('director')
data_tmp['winter'] = data_tmp.release_date.apply(this_winter)
data_tmp.groupby(['director'])['winter'].sum().sort_values(ascending = False).head()

director
Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
Name: winter, dtype: int64

In [56]:
data_tmp = data.copy()
data_tmp.release_date = pd.to_datetime(data_tmp.release_date)
data_tmp = data_tmp[(data_tmp.release_date.dt.month == 12) 
         | (data_tmp.release_date.dt.month == 1) | (data_tmp.release_date.dt.month == 2)]
data_tmp.director = data_tmp.director.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('director')
data_tmp.groupby(['director'])['release_date'].count().sort_values(ascending = False).head()

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
Name: release_date, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = '5. Four By Two Productions'
# +

In [58]:
data_tmp = data.copy()
data_tmp.production_companies = data_tmp.production_companies.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('production_companies')
data_tmp['len_title'] = data_tmp.original_title.apply(lambda x: len(x))
data_tmp.groupby(['production_companies'])['len_title'].mean().sort_values(ascending = False).head()

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Polsky Films                 46.0
Museum Canada Productions    46.0
Name: len_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers['25'] = '3. Midnight Picture Show'
# +

In [60]:
data_tmp = data.copy()
data_tmp.production_companies = data_tmp.production_companies.apply(lambda x: str(x).split('|'))
data_tmp = data_tmp.explode('production_companies')
data_tmp['len_words'] = data_tmp.overview.apply(lambda x: len(x.split()))
data_tmp = data_tmp.explode('len_words')
data_tmp.groupby(['production_companies'])['len_words'].mean().sort_values(ascending = False).head()

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      159.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: len_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [62]:
border = data.quantile(0.99, numeric_only = True)['vote_average']
data[data.vote_average > border].sort_values(['vote_average'], ascending = False).head(6)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399

In [63]:
border = data.quantile(0.99, numeric_only = True)['vote_average']
data[data.vote_average > border].groupby('original_title').vote_average.mean().sort_values(ascending = False).head(6)

original_title
The Dark Knight       8.1
Inside Out            8.0
Interstellar          8.0
Room                  8.0
The Imitation Game    8.0
12 Years a Slave      7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [82]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [80]:
pairs = Counter()
for i in range(len(data)):
    cast = data.cast[i].split('|')
    pairs.update(Counter(list(combinations(cast, 2))))
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [83]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [84]:
# и убедиться что ни чего не пропустил)
len(answers)

27